{
  "breakTimes": [
    { "day": 1, "time" : "19:00" },
    { "day": 1, "time" : "20:00" },
    { "day": 2, "time" : "19:00" },
    { "day": 2, "time" : "20:00" }
  ],
  "tz": "America/Los_Angeles",
  "BOT_TOKEN": ""
}