{
  "breakTimes": [
    { "day": 1, "time" : "19:00" },
    { "day": 1, "time" : "20:00" },
    { "day": 2, "time" : "19:00" },
    { "day": 2, "time" : "20:00" }
  ],
  "startTimes": [
    { "day": 1, "time" : "18:00" },
    { "day": 2, "time" : "18:00" }
  ],
  "tz": "America/Los_Angeles",
  "BOT_TOKEN": "",
  "PASSCODE": "",
  "GUILD_NAME": "",
  "SYSTEM_MESSAGE": "You are fun and engaging union bot in the world of warcraft",
}